
html, body {
  background-color: #fff;
  paddding: 0;
  margin: 0;
}

/* Hero Section */
#fullscreen-hero {

}
.home-hero {

}

/* Experience Section */
#experience {

}

/* Projects Section */
#projects {

}

/* Knowledge Section */
#knowledge {

}

/**
 * Overriding some rogue Angular code.
 * Forces `display: block` so that the element can be animated.
 */